<div class="text-center">
  <div class="user-info" class="container" class="text-center">
    Username: {{ $ctrl.user.username}} <br>
    Email: {{ $ctrl.user.email}} <br>
    Phone: {{ $ctrl.user.phone }} <br>
  </div>

  <div class="user-info-image">
    <img class="img-responsive" width="250" height="150" ng-src="{{$ctrl.user.basePath}}/images/{{$ctrl.user.short_name}}.jpg" alt="{{$ctrl.user.name}}">
  </div>


  <div id="user-info-details">
    <br>
    Favourite Dish: {{$ctrl.user.short_name }} <br>
    Name: {{$ctrl.user.name}} <br>
    Description: {{$ctrl.user.description}}
  </div>

</div>
